.DS_Store
dataconnect/node_modules/
.firebase/
app/node_modules
.log
app/dist/
dataconnect/.dataconnect
firebase-debug.log
app/firebase-debug.log
dataconnect-debug.log
firebase-debug.1.log
firebase-debug.log
firestore-debug.log
*-debug.log
